Repository simple-robot/simpler-robot, pull requests merged in 2022-11, with the labels that each got.

#491 为 Items 增加部分异步API
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/BlockingRunner.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/FlowItems.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/Items.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/SingleValueItems.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/StreamItems.kt
Labels: 特性

#493 SimpleEventListenerManager 实现中增加默认调度器
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManager.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManagerImpl.kt
Labels: 特性, v3

#502 修复 `ResourceImage` 无法序列化的问题
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
Labels: bug

#507 为 `ContactsContainer`、`GroupsContainer`、`GuildsContainer` 提供可用性属性
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/SocialRelationsContainers.kt
Labels: 特性, v3

#508 内部简单调整
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/BlockingRunner.kt
Labels: 优化

#509 尝试优化 Spring Boot Starter 中监听函数与bot的注册流程
  simbot-boots/simboot-core-spring-boot-starter/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/DependAutowiredConfig.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/EnableSimbot.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotListenerMethodProcessor.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootApplicationConfiguration.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootBotAutoRegisterBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootComponentAutoInstallBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootDefaultConfigures.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootEventProviderAutoInstallBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootListenerAutoRegisterBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotTopLevelScanProcessor.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplicationConfiguration.kt
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/SpringBootApp.kt
Labels: 优化

#510 清理（删除） `MessageReceipt` 中的过时API
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
Labels: 优化, v3, 不兼容

#511 移除（删除）标记过时的 `ReplyMessageReceipt` 和 `ReactReceipt`
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
Labels: v3, 不兼容

#513 `Messages` 实现 `View` 代替`List`
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
Labels: v3, 不兼容

#514 清理（删除） `Messages` 相关内容中标记过时的内容
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
Labels: 优化, 不兼容

#515 调整 Messages 部分实现内容，删改部分API
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/view/Views.kt
Labels: 不兼容

#516 调整 MessageReceipt 结构与实现
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipts.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/view/Views.kt
Labels: 特性, 不兼容

#518 为 `EventListenerRegistrar` 增加注册监听函数的扩展API
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenerRegisters.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
Labels: 优化

#519 Release: v3.0.0-M3
  .changelog/v3.0.0-M3.md
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/P.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/SocialRelationsContainers.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingContext.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessor.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventResult.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipts.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessagesBuilder.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/resources/Resource.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/BlockingRunner.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/view/View.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/view/Views.kt
  simbot-boots/simboot-core-spring-boot-starter/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/DependAutowiredConfig.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/EnableSimbot.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotListenerMethodProcessor.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootApplicationConfiguration.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootBotAutoRegisterBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootComponentAutoInstallBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootDefaultConfigures.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootEventProviderAutoInstallBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootListenerAutoRegisterBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotTopLevelScanProcessor.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplicationConfiguration.kt
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/SpringBootApp.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenerRegisters.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManager.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManagerImpl.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
  simbot-cores/simbot-core/src/test/kotlin/EventAsyncProcessingTest.kt
Labels: for-release

#520 MessageReceipt 结构调整
  buildSrc/src/main/kotlin/P.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
Labels: 优化

#521 Release: v3.0.0-M4
  .changelog/v3.0.0-M4.md
  buildSrc/src/main/kotlin/P.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
Labels: for-release

#523 为 AggregatedMessageReceipt.get 增加 operator
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
Labels: 优化
