Repository simple-robot/simpler-robot, pull requests merged in 2022-07, with the labels that each got.

#370 支持直接注册使用 ListenerFunction 实例
  core-api/core/src/main/java/love/forte/simbot/core/configuration/CoreListenerRegistrar.kt
  core-api/core/src/main/java/love/forte/simbot/core/configuration/CoreMethodPostListenerRegistrar.kt
  core-api/core/src/main/java/love/forte/simbot/core/listener/CoreListenerManager.kt
  core-api/core/src/main/java/love/forte/simbot/core/listener/ListenerInstanceUtil.kt
Labels: 特性, v2

#371 项目整体规范化调整
  .github/release.yml
  .github/workflows/publish-release.yml
  .github/workflows/publish-snapshot.yml
  CONTRIBUTING.md
  PERFORMANCE_TESTING.md
  README.md
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Env.kt
  buildSrc/src/main/kotlin/P.kt
  buildSrc/src/main/kotlin/PropertyUtil.kt
  buildSrc/src/main/kotlin/PublishUtil.kt
  buildSrc/src/main/kotlin/SimbotAttributes.kt
  buildSrc/src/main/kotlin/Sonatype.kt
  buildSrc/src/main/kotlin/SrcDirUtil.kt
  buildSrc/src/main/kotlin/V.kt
  buildSrc/src/main/kotlin/simbot.dokka-multi-module.gradle.kts
  buildSrc/src/main/kotlin/simbot.maven-publish.gradle.kts
  buildSrc/src/main/kotlin/simbot.module-conventions.gradle.kts
  buildSrc/src/main/kotlin/simbot.nexus-publish.gradle.kts
  simbot-apis/simbot-api/build.gradle.kts
  simbot-apis/simbot-api/src/test/java/JavaMessageSerializerTest.java
  simbot-apis/simbot-api/src/test/kotlin/BotVerifyInfoPropertySerializerTest.kt
  simbot-apis/simbot-api/src/test/kotlin/TimestampTest.kt
  simbot-apis/simbot-logger/build.gradle.kts
  simbot-boots/simboot-api/build.gradle.kts
  simbot-boots/simboot-core-annotation/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/spring/SpringBootApplicationTest.kt
  simbot-boots/simboot-core/build.gradle.kts
  simbot-cores/simbot-core/build.gradle.kts
Labels: 优化, v3, ignore-in-release

#372 修复boot依赖扫描问题
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BeanContainerBuilder.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/utils/ClassesScanUtil.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/utils/ResourcesScanner.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseStandardApplicationBuilder.kt
  simbot-project-tests/simbot-project-boot-test/src/main/kotlin/love/forliy/test/boot/Application.kt
  simbot-project-tests/simbot-project-boot-test/src/main/kotlin/love/forliy/test/boot/listener/FooListenerProvider.kt
Labels: bug, 模块:boot, v3

#373 SpringBoot下优先使用Spring的AnnotationUtils
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootListenerAutoRegisterBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/utils/SpringAnnotationTool.kt
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/spring/SpringBootApplicationTest.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
Labels: 特性, 模块:boot, v3

#375 为与持续时间相关的参数提供额外的 `java.time.Duration` 支持
  CONTRIBUTING.md
  PERFORMANCE_TESTING.md
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/JavaDurationTypealias.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/ability/DelayableCoroutineScope.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/action/MuteSupport.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/BlockingRunner.kt
  simbot-apis/simbot-api/src/test/kotlin/DurationConvertTest.kt
  simbot-apis/simbot-api/src/test/kotlin/jmh/DurationConvertTest.kt
Labels: 特性, v3

#378 ⚠ 变更与 `Bot` 相关内容的包路径
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Application.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/ApplicationFactory.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/EventProviderFactory.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/Bot.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/BotContainers.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/BotManager.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/BotVerifyInfo.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/BotVerifyInfos.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/OriginBotManager.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Container.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Objective.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/OrganizationBot.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Stranger.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/User.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/Event.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/FriendChangedEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ObjectiveEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/RequestEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/internal/InternalBotEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/internal/InternalEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessagesBuilder.kt
  simbot-apis/simbot-api/src/test/java/DelayScopeTest.java
  simbot-apis/simbot-api/src/test/kotlin/BotVerifyInfoPropertySerializerTest.kt
  simbot-boots/simboot-api/src/main/kotlin/love/forte/simboot/factory/BeanContainerFactory.kt
  simbot-boots/simboot-api/src/main/kotlin/love/forte/simboot/factory/BotRegistrarFactory.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootBotAutoRegisterBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplicationConfiguration.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseApplicationBuilder.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerManagerConfiguration.kt
Labels: v3, 不兼容

#380 提供 `Category` 定义及简单实现
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Scope.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Category.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/UserInfo.kt
  simbot-apis/simbot-api/src/test/java/CategoryJTest.java
  simbot-apis/simbot-api/src/test/kotlin/CategoryKTest.kt
Labels: 特性, v3

#382 为 `Organization` 提供对children的精准获取api
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Guild.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
Labels: 特性, 模块:核心, v3

#383 优化/简化监听函数构建DSL
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
Labels: 特性, 模块:核心, v3

#384 Release: v3.0.0-beta-M3
  .changelog/v3.0.0-beta-M3.md
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Env.kt
  buildSrc/src/main/kotlin/P.kt
  buildSrc/src/main/kotlin/simbot.base-module-conventions.gradle.kts
  buildSrc/src/main/kotlin/simbot.boot-module-conventions.gradle.kts
  buildSrc/src/main/kotlin/simbot.dokka-module-configuration.gradle.kts
  buildSrc/src/main/kotlin/simbot.dokka-multi-module.gradle.kts
  buildSrc/src/main/kotlin/simbot.maven-publish.gradle.kts
  buildSrc/src/main/kotlin/simbot.simple-module-conventions.gradle.kts
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Scope.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Application.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/ApplicationFactory.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/EventProviderFactory.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/Bot.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/BotManager.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/BotVerifyInfo.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/BotVerifyInfos.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/OriginBotManager.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Category.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/ChatRoom.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Container.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Guild.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Objective.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/OrganizationBot.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/SocialRelationsContainers.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Stranger.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/User.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/UserInfo.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/Event.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/FriendChangedEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ObjectiveEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/RequestEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/internal/InternalBotEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/internal/InternalEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessagesBuilder.kt
  simbot-apis/simbot-api/src/test/java/CategoryJTest.java
  simbot-apis/simbot-api/src/test/java/DelayScopeTest.java
  simbot-apis/simbot-api/src/test/kotlin/BotVerifyInfoPropertySerializerTest.kt
  simbot-apis/simbot-api/src/test/kotlin/CategoryKTest.kt
  simbot-boots/simboot-api/src/main/kotlin/love/forte/simboot/factory/BeanContainerFactory.kt
  simbot-boots/simboot-api/src/main/kotlin/love/forte/simboot/factory/BotRegistrarFactory.kt
  simbot-boots/simboot-core-spring-boot-starter/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootBotAutoRegisterBuildConfigure.kt
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplicationConfiguration.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseApplicationBuilder.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerManagerConfiguration.kt
Labels: v3, for-release

#397 完善成员变动事件下的部分子事件
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MemberChangedEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Message.kt
  simbot-boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/ListenerAnnotationProcessor.kt
Labels: 优化, v3

#398 提高所有过时内容（`@Deprecated`）的过时等级为 `ERROR`
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Attribute.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Scope.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Application.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/Bot.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/OriginBotManager.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Objective.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Structured.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/Event.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListenerManagers.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingContext.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessagesBuilder.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/ItemsFactories.kt
  simbot-boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/AnnotationEventFilterFactory.kt
  simbot-boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Filter.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/SimbootApp.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreAnnotationEventFilterFactory.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/BootListenerAttributes.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/utils/ResourcesScanner.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventInterceptors.kt
Labels: 优化, v3

#399 Publish: v3.0.0-beta-RC.1
  .changelog/v3.0.0-beta-RC.1.md
  buildSrc/src/main/kotlin/P.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Attribute.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Scope.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Application.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/Bot.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/OriginBotManager.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Objective.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Structured.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/Event.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListenerManagers.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingContext.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MemberChangedEvent.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Message.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessagesBuilder.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/ItemsFactories.kt
  simbot-apis/simbot-api/src/test/kotlin/love.forte/test/IDTest.kt
  simbot-boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/ListenerAnnotationProcessor.kt
  simbot-boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/AnnotationEventFilterFactory.kt
  simbot-boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Filter.kt
  simbot-boots/simboot-core-spring-boot-starter/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplication.kt
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/SpringBootApp.kt
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/spring/SpringBootApplicationTest.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/SimbootApp.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreAnnotationEventFilterFactory.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreFilterAnnotationProcessor.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/BootListenerAttributes.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/utils/ResourcesScanner.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleApplication.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventInterceptors.kt
Labels: v3, for-release

#407 为 `DelayableCompletableFuture` 提供更多参数并优化
  .github/dependabot.yml
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/ability/DelayableCoroutineScope.kt
Labels: 优化
