Repository simple-robot/simpler-robot, pull requests merged in 2022-09, with the labels that each got.

#446 调整mute持续时间的计算方式
  component/component-mirai/src/main/java/love/forte/simbot/component/mirai/sender/MiraiSetter.kt
  component/component-mirai/src/test/java/love/forte/test/MyListener.java
  component/component-mirai/src/test/java/love/forte/test/Test.java
  component/component-mirai/src/test/java/love/forte/test/ThreadLocal.java
Labels: 优化

#447 为 `SimpleListenerBuilder` 提供部分匹配扩展
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
Labels: 特性

#448 Release: v3.0.0-beta
  .changelog/v3.0.0-beta.md
  .github/release.yml
  buildSrc/src/main/kotlin/P.kt
  libs.versions.toml
  simbot-apis/simbot-api/build.gradle.kts
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Attribute.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Filter.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/ID.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Limiter.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/Scope.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/bot/Bot.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Category.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/UserInfo.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventFilter.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingInterceptor.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessor.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/Digest.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/RandomIDUtil.kt
  simbot-apis/simbot-logger/src/main/kotlin/love/forte/simbot/logger/SimbotLogger.kt
  simbot-apis/simbot-logger/src/test/kotlin/love/forte/simbot/logger/test/LoggerTest.kt
  simbot-boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/AnnotationEventFilterFactory.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
Labels: v3, for-release

#451 将 `EventResult.Default` 访问级别调整为公开
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventResult.kt
Labels: 特性

#452 调整各监听函数相关实现，所有默认的 `EventResult` 调整为 `EventResult.invalid()`。
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventResult.kt
  simbot-boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/FunctionalBindableEventListener.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
Labels: 优化

#453 提供面向Java的`lambda`兼容转化工具
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/SuspendLambdaTransform.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
Labels: 特性

#461 Gradle环境调整为JDK11
  .github/workflows/publish-release.yml
  .github/workflows/publish-snapshot.yml
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Applications.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventProcessingContextResolver.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerManagerConfiguration.kt
Labels: v3
