Repository simple-robot/simpler-robot, pull requests merged in 2022-05, with the labels that each got.

#272 Boot相关模块下为listener提供部分原始属
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Attribute.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/BootListenerAttributes.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/utils/CollectionViewUtil.kt
Labels: 特性

#275 Application相关内容的异步调整
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Bot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Component.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Filter.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/LoggerFactories.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ability/Completable.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ability/Survivable.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ability/Switchable.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/Action.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/UnsupportedActionException.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Application.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/ApplicationFactory.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/ApplicationLauncher.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Applications.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/EventProviderFactory.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageSerializationUtil.kt
  apis/simbot-api/src/test/kotlin/love.forte/test/TextTest.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/SimbootEntrance.kt
  boots/simboot-core-spring-boot-starter/build.gradle.kts
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootApplicationConfiguration.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplication.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SimbootAppRunnerConfiguration.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SimbootAutoconfigure.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SimbootContextStarterProperties.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SimbotAppStarter.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SpringConfigurationFactory.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SpringEventListenerManagerConfiguration.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SpringbootCoreBootEntranceContext.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SpringbootCoreBootEntranceContextConfiguration.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/bk/SpringbootCoreBootEntranceContextFactoriesConfiguration.kt
  boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/Hi.kt
  boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/Main.kt
  boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/SpringBootApp.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/SimbootApp.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplicationExtra.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/binder/SimpleMessageValueBinder.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreFilterAnnotationProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseApplicationBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerManagerConfiguration.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventInterceptorsGenerator.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  cores/simbot-core/src/test/java/CoreManagerConfigurationTest.java
  cores/simbot-core/src/test/java/MsgShowTest1.java
  cores/simbot-core/src/test/java/ShowTest.java
  cores/simbot-core/src/test/java/ShowTest2.java
  cores/simbot-core/src/test/kotlin/application/SimpleApplicationTest.kt
Labels: 特性

#279 持续会话API重构
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/BaseContinuousSessionContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionFunctions.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/ContinuousSessionScopeContext.kt
Labels: 特性, 模块:核心

#280 bot内容器拆分
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Bot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotContainers.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Limiter.kt
Labels: 特性

#282 修复SpringBoot下无法扫描动态代理目标类的问题
  .github/workflows/publish-snapshot.yml
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootListenerAutoRegisterBuildConfigure.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SpringBeanContainerFactory.kt
  buildSrc/src/main/kotlin/P.kt
Labels: bug, 模块:boot

#285 重构监听器、拦截器；增加"监听准备"
  .changelog/v3.0.0.preview.9.1.md
  .github/workflows/publish-snapshot.yml
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Interceptor.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventFilter.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListener.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingInterceptor.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventResult.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/Runner.kt
  apis/simbot-api/src/test/kotlin/IDTest.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/interceptor/AnnotatedEventListenerInterceptor.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/interceptor/ListenerPreparator.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/EventListenerTextContentPreparator.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/EventListenerTextContentProcessor.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/FunctionalBindableEventListener.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/GenericListener.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/AnnotationEventFilter.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Interceptor.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Listener.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Preparator.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/StandardTextContentProcessorInterceptors.kt
  boots/simboot-core-annotation/src/test/kotlin/MyBeanClass.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootDefaultConfigures.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootInterceptorsAutoConfigure.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootListenerAutoRegisterBuildConfigure.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SpringBeanContainerFactory.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/FunctionalListenerProcessContext.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionEventListener.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/Core.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreEventInterceptors.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreIntercepts.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerManager.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerManagerConfiguration.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerManagerImpl.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventInterceptEntrance.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventInterceptorsGenerator.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListener.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerCreate.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerProxy.kt
  cores/simbot-core/src/test/kotlin/application/SimpleApplicationTest.kt
Labels: 优化, 特性

#286 优化ParameterBinder.Context部分API
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/FunctionalBindableEventListener.kt
Labels: 优化

#290 调整优化 SimpleListener 的相关函数
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerCreate.kt
Labels: 优化, 缺陷

#292 修复@FilterValue使用报错的问题
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListener.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListener.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerCreate.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerProxy.kt
Labels: bug

#295 为 ListenerPreparator 提供阻塞兼容
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/Runner.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/interceptor/ListenerPreparator.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Preparator.kt
Labels: 特性, v3

#297 调整禁言api的描述与约束
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/MuteSupport.kt
Labels: 优化, v3

#298 提供 BotMember 类型实现
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/BotMember.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
Labels: 特性, v3

#302 调整涉及 `Preparator` 的相关名称为 `Preparer`
  boots/simboot-api/src/main/kotlin/love/forte/simboot/interceptor/ListenerPreparator.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/interceptor/ListenerPreparer.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/EventListenerTextContentPreparator.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Preparator.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Preparer.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/StandardTextContentProcessorInterceptors.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
Labels: 模块:核心, 缺陷

#303 修复EventListenersGenerator中match函数合并逻辑错误问题
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
Labels: bug, v3

#306 send、reply、react 相关api的返回统一为 MessageReceipt 类型
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
Labels: 优化, v3

#309 v3.0.0.preview.11.0
  .changelog/v3.0.0.preview.11.0.md
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ID.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/SimbotAnnotations.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/MuteSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Channel.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Guild.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/MemberBot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/RandomIDUtil.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/interceptor/ListenerPreparator.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/interceptor/ListenerPreparer.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/EventListenerTextContentPreparator.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Preparator.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Preparer.kt
  boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/StandardTextContentProcessorInterceptors.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
  build.gradle.kts
  buildSrc/src/main/kotlin/P.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  cores/simbot-core/src/test/kotlin/application/SimpleApplicationTest.kt
Labels: v3

#311 修复EventProcessingContext无法获取瞬时上下文属性的问题
  .github/workflows/publish-release.yml
  .github/workflows/publish-snapshot.yml
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Channel.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventResult.kt
  boots/simboot-core-spring-boot-starter/build.gradle.kts
  boots/simboot-core/build.gradle.kts
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreEventProcessingContextResolver.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerManagerImpl.kt
Labels: bug, v3

#312 v3.0.0.preview.11.1
  .changelog/v3.0.0.preview.11.1.md
  .github/workflows/publish-release.yml
  .github/workflows/publish-snapshot.yml
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Channel.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/Event.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventResult.kt
  boots/simboot-core-spring-boot-starter/build.gradle.kts
  boots/simboot-core/build.gradle.kts
  buildSrc/src/main/kotlin/P.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreEventProcessingContextResolver.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerManagerImpl.kt
Labels: v3
