Repository simple-robot/simpler-robot, pull requests merged in 2022-06, with the labels that each got.

#314 v3.0.0.preview.12.0
  .changelog/v3.0.0.preview.12.0.md
  README.md
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotContainers.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Channel.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/ChatRoom.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Guild.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Structured.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/BaseItems.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/CollectionItems.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/FlowItems.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/Items.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/SimpleBlockingItems.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/SimpleItems.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/SingleValueItems.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/TransformItems.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/BaseSequence.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/CollectionItemFlow.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/CollectionItemSequence.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/EmptyItemFlow.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/EmptyItemSequence.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/Functions.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/ItemFlow.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/ItemSequence.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/SequenceItemFlow.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/SimpleItemFlow.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/sequence/SimpleItemSequence.kt
  buildSrc/src/main/kotlin/P.kt
Labels: v3

#317 Timestamp 的API调整改造
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Timestamp.kt
Labels: 优化, v3

#319 Bot实现调整：移除 `friends` 相关api；追加 `contacts` 相关api
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Bot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotContainers.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/ChatRoom.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Objectives.kt
Labels: 特性, v3

#320 ⚠ 基础类型 `Objectives` 重命名为 `Objective`
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Objective.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/User.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ObjectiveEvents.kt
Labels: 严重, v3

#323 重构 `MemberBot` 相关并重命名为 `OrganizationBot`
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Channel.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Group.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Guild.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/MemberBot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Organization.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/OrganizationBot.kt
Labels: 特性, v3

#324 调整 DeleteSupport 实现
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/DeleteSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageContent.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessageReceipt.kt
Labels: 特性, v3

#325 使 `Member` 实现 `Contact`
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Stranger.kt
Labels: 特性, v3

#326 调整优化 `SimbootApp` 部分API
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/SimbootApp.kt
Labels: 优化, v3

#327 改善优化持续会话相关API、提供部分扩展
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContextExtra.kt
  apis/simbot-api/src/test/kotlin/SessionTest.kt
Labels: 优化, v3

#328 `UserStatus` 标记为实验性并计划弃用
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Bot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/SimbotAnnotations.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Permissions.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/User.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/UserInfo.kt
Labels: v3

#329 为 `Items` 提供 `Sequence` 相关API
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/Items.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/ItemsFactories.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/item/SequenceItems.kt
Labels: 特性, v3

#331 优化部分ID相关API
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ID.kt
Labels: 优化, v3

#333 重整Role相关API
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Permissions.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Role.kt
Labels: 特性, 模块:核心, v3

#334 移除 `UserStatus` 及相关内容
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Bot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Friend.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/User.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/UserInfo.kt
Labels: 模块:核心, v3

#335 为 `Image` 增加默认实现、调整相关API
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Bot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ID.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/MessagesBuilder.kt
Labels: 特性, v3

#336 依赖版本更新: Kotlin `v1.6.10` -> `v1.6.21`
  build.gradle.kts
  buildSrc/src/main/kotlin/V.kt
  settings.gradle.kts
Labels: v3

#337 依赖版本更新: Kotlinx Coroutines `v1.6.1` -> `v1.6.2`
  buildSrc/src/main/kotlin/V.kt
Labels: v3

#341 弃用原`Scope`，移动到core模块并作为特性 `SimpleScope`
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContextExtra.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionFunctions.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListenerManagers.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/utils/RandomIDUtil.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/binder/EventParameterBinder.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/configuration/CoreEventListenerManagerContextFactory.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreFilterAnnotationProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseApplicationBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseStandardApplicationBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/EventProcessableApplicationBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreIntercepts.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListenerBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventInterceptorsGenerator.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleContinuousSessionContext.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleContinuousSessionContextExtra.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventInterceptors.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManager.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManagerImpl.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventManagers.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventProcessingContextResolver.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleFilters.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerManagerConfiguration.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/scope/SimpleScope.kt
Labels: 特性, 模块:核心, v3

#342 变更 `EventListener.id` 属性类型 `ID` -> `String`
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListener.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListenerManagers.kt
  boots/simboot-api/src/main/kotlin/love/forte/simboot/listener/GenericListener.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionEventListener.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManagerImpl.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListener.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerCreate.kt
Labels: 模块:核心, v3

#343 `EventListener.logger` 标记过时并计划删除
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListener.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionEventListener.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManagerImpl.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListener.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerCreate.kt
Labels: 模块:核心, v3

#344 实现 `SimpleListenerBuilder` 并替换 `EventListenersGenerator`
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/EventListenersGenerator.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerBuilder.kt
Labels: 特性, v3

#345 实现新特性 `DelayableCoroutineScope`
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Bot.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ability/DelayableCoroutineScope.kt
  apis/simbot-api/src/test/java/DelayScopeTest.java
Labels: 特性, v3

#346 为 `Switchable` 中的 `*Async` 函数增加 `Future` 返回值
  apis/simbot-api/src/main/kotlin/love/forte/simbot/ability/Switchable.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
Labels: 特性, v3

#347 调整 `ApplicationBuilder` 对 `Application` 的构建流程
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/ApplicationFactory.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseApplicationBuilder.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleListenerManagerConfiguration.kt
Labels: 特性, v3

#349 提供并实现 `ApplicationAttributes` 约定属性
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/binder/EventParameterBinder.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/BootListenerAttributes.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/KFunctionListenerProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/ApplicationAttributes.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/scope/SimpleScope.kt
Labels: 特性, v3

#350 构建 `Application` 时会为配置补充 `Job`
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/ApplicationFactory.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootApplicationConfiguration.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleApplication.kt
Labels: 优化, v3

#351 修复Application关闭无效问题
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootApplication.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/BaseApplication.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleApplication.kt
Labels: bug, v3

#352 `Component.id` 调整为String类型；细化部分函数的可空与不可空返回值类型
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Component.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/OriginBotManager.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Application.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Container.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/application/SpringBootEnvironment.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/application/BootEnvironment.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreAnnotationEventFilterFactory.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleEnvironment.kt
Labels: 优化, 特性, v3

#353 持续会话对事件的处理机制变更
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionFunctions.kt
  boots/simboot-core-spring-boot-starter/build.gradle.kts
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleContinuousSessionContext.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManager.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventListenerManagerImpl.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/SimpleEventProcessingContextResolver.kt
Labels: 特性, v3

#355 修复过滤器注解处理器无法获取监听函数id的问题
  simbot-boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/spring/autoconfigure/SimbotSpringBootListenerAutoRegisterBuildConfigure.kt
Labels: bug, v3

#365 调整项目lib管理方式
  buildSrc/src/main/kotlin/V.kt
  libs.versions.toml
  simbot-apis/simbot-api/build.gradle.kts
  simbot-apis/simbot-logger/build.gradle.kts
  simbot-boots/simboot-api/build.gradle.kts
  simbot-boots/simboot-core-annotation/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/SpringBootApp.kt
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/spring/SpringBootApplicationTest.kt
  simbot-boots/simboot-core/build.gradle.kts
  simbot-cores/simbot-core/build.gradle.kts
Labels: 优化, v3

#366 修复消息列表中获取 `PlainText` 导致堆栈溢出的问题
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
Labels: bug, v3

#367 Release: v3.0.0.preview.18.0
  .changelog/v3.0.0.preview.17.1.md
  .changelog/v3.0.0.preview.18.0.md
  .github/release.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/P.kt
  buildSrc/src/main/kotlin/V.kt
  buildSrc/src/main/kotlin/simbot.changelog-generator.gradle.kts
  libs.versions.toml
  simbot-apis/simbot-api/build.gradle.kts
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/IDMaps.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessingContext.kt
  simbot-apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
  simbot-apis/simbot-logger/build.gradle.kts
  simbot-boots/simboot-api/build.gradle.kts
  simbot-boots/simboot-core-annotation/build.gradle.kts
  simbot-boots/simboot-core-annotation/src/main/kotlin/love/forte/simboot/annotation/Filter.kt
  simbot-boots/simboot-core-spring-boot-starter/build.gradle.kts
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/SpringBootApp.kt
  simbot-boots/simboot-core-spring-boot-starter/src/test/kotlin/love/forli/test/spring/SpringBootApplicationTest.kt
  simbot-boots/simboot-core/build.gradle.kts
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreAnnotationEventFilterFactory.kt
  simbot-boots/simboot-core/src/main/kotlin/love/forte/simboot/core/filter/CoreFilterAnnotationProcessor.kt
  simbot-cores/simbot-core/build.gradle.kts
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/ApplicationAttributes.kt
  simbot-cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
Labels: v3, for-release

#368 Release: v3.0.0-beta-M1
  .changelog/v3.0.0-beta-M1.md
  buildSrc/src/main/kotlin/DokkaConfigure.kt
  buildSrc/src/main/kotlin/P.kt
  buildSrc/src/main/kotlin/Version.kt
Labels: v3, for-release
