Repository simple-robot/simpler-robot, pull requests merged in 2022-04, with the labels that each got.

#247 为 SingleOnlyMessage 提供toString约束
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
Labels: 优化

#248 调整BotManager部分API
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotManager.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/OriginBotManager.kt
Labels: 模块:核心

#249 调整大部分Event类型定义
  .changelog/v3.0.0.preview.8.0.md
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/DeleteSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/MuteSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/UnsupportedActionException.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Container.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/BaseEvent.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ChangedEvent.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ContinuousSessionContext.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/Event.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/FriendChangedEvent.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MemberChangedEvent.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/MessageEvents.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/ObjectiveEvents.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/PointEvents.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/RequestEvents.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/internal/InternalEvent.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/listener/StandardListenerAnnotationProcessor.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/ContinuousSessionScopeContext.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/event/CoreListeners.kt
Labels: 优化, 模块:核心

#252 为Image提供阻塞的resource获取API
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Container.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/BaseStandardMessage.kt
Labels: bug, 模块:核心

#254 Member 实现 SendSupport 接口
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/UnsupportedActionException.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
Labels: 特性, 模块:核心

#253 Member 实现 SendSupport 接口
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/SendSupport.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/action/UnsupportedActionException.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Contact.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/definition/Member.kt
Labels: 特性, 模块:核心

#255 调整 `BotManager` 和 `OriginBotManager` 相关内容。
  .changelog/v3.0.0.preview.8.0.md
  .gitignore
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotManager.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/OriginBotManager.kt
  apis/simbot-api/src/test/kotlin/BotManagerTest.kt
Labels: 特性, 模块:核心

#256 重写 BotVerifyInfo
  .changelog/v3.0.0.preview.8.0.md
  .gitignore
  apis/simbot-api/build.gradle.kts
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotManager.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotVerifyInfo.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotVerifyInfos.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/OriginBotManager.kt
  apis/simbot-api/src/test/java/JavaMessageSerializerTest.java
  apis/simbot-api/src/test/kotlin/BotManagerTest.kt
  apis/simbot-api/src/test/kotlin/BotVerifyInfoPropertySerializerTest.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/autoconfigure/SpringbootCoreBootEntranceContext.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/internal/CoreBootEntranceContextImpl.kt
Labels: 特性, 模块:核心

#257 提供 `Resource` 的子类型 `DeserializableResource`
  apis/simbot-api/build.gradle.kts
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotVerifyInfo.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/BotVerifyInfos.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/resources/DeserializableResource.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/resources/Resource.kt
  apis/simbot-api/src/test/kotlin/ResourceTest.kt
  boots/simboot-core-spring-boot-starter/src/main/kotlin/love/forte/simboot/autoconfigure/SpringbootCoreBootEntranceContext.kt
  boots/simboot-core/src/main/kotlin/love/forte/simboot/core/CoreBootEntrance.kt
Labels: 特性, 模块:核心

#268 Application.Environment中提供序列化模块相关api
  apis/simbot-api/src/main/kotlin/love/forte/simbot/Component.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/application/Application.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventListenerManagers.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/event/EventProcessor.kt
  apis/simbot-api/src/main/kotlin/love/forte/simbot/message/Messages.kt
  cores/simbot-core/src/main/kotlin/love/forte/simbot/core/application/SimpleEnvironment.kt
Labels: 特性
