Repository simple-robot/simpler-robot, pull requests merged in 2024-12, with the labels that each got.

#981 edit ci config
  .github/workflows/publish-v4-kdoc.yml
  .github/workflows/publish-v4-release.yml
  .github/workflows/publish-v4-snapshot.yml
  .github/workflows/qodana_code_quality.yml
  .github/workflows/test-v4-branch.yml
  qodana.yaml
Labels: ignore-in-release

#993 基于kotlinx-io改善Resource相关API
  buildSrc/src/main/kotlin/P.kt
  simbot-api/api/simbot-api.api
  simbot-api/src/commonMain/kotlin/love/forte/simbot/message/OfflineImageResolver.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/message/StandardMessages.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/Resource.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/ResourceResolver.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/SourceResource.kt
  simbot-api/src/commonTest/kotlin/message/OfflineImageResolverTests.kt
  simbot-api/src/commonTest/kotlin/resource/ResourceResolverTests.kt
  simbot-api/src/jvmMain/kotlin/love/forte/simbot/message/OfflineImageResolver.jvm.kt
  simbot-api/src/jvmMain/kotlin/love/forte/simbot/resource/Resource.jvm.kt
  simbot-api/src/jvmMain/kotlin/love/forte/simbot/resource/ResourceResolver.jvm.kt
  simbot-api/src/jvmTest/kotlin/message/OfflineImageResolverTests.jvm.kt
  simbot-api/src/jvmTest/kotlin/resource/ResourceResolverTests.jvm.kt
  simbot-api/src/jvmTest/kotlin/resource/SourceResourceTypeTests.kt
Labels: 优化, 特性

#995 简化ContentTrimEventInterceptorFactory.create的实现
  simbot-quantcat/simbot-quantcat-common/src/commonMain/kotlin/love/forte/simbot/quantcat/common/interceptor/impl/StandardAnnotationEventInterceptorFactory.kt
Labels: 优化

#996 Release: v4.10.0
  .github/workflows/publish-v4-kdoc.yml
  .github/workflows/publish-v4-release.yml
  .github/workflows/publish-v4-snapshot.yml
  .github/workflows/qodana_code_quality.yml
  .github/workflows/test-v4-branch.yml
  buildSrc/src/main/kotlin/P.kt
  gradle/libs.versions.toml
  qodana.yaml
  simbot-api/api/simbot-api.api
  simbot-api/src/commonMain/kotlin/love/forte/simbot/message/OfflineImageResolver.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/message/StandardMessages.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/Resource.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/ResourceResolver.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/SourceResource.kt
  simbot-api/src/commonTest/kotlin/message/OfflineImageResolverTests.kt
  simbot-api/src/commonTest/kotlin/resource/ResourceResolverTests.kt
  simbot-api/src/jvmMain/kotlin/love/forte/simbot/message/OfflineImageResolver.jvm.kt
  simbot-api/src/jvmMain/kotlin/love/forte/simbot/resource/Resource.jvm.kt
  simbot-api/src/jvmMain/kotlin/love/forte/simbot/resource/ResourceResolver.jvm.kt
  simbot-api/src/jvmTest/kotlin/message/OfflineImageResolverTests.jvm.kt
  simbot-api/src/jvmTest/kotlin/resource/ResourceResolverTests.jvm.kt
  simbot-api/src/jvmTest/kotlin/resource/SourceResourceTypeTests.kt
  simbot-commons/simbot-common-core/build.gradle.kts
  simbot-commons/simbot-common-suspend-runner/build.gradle.kts
  simbot-quantcat/simbot-quantcat-common/src/commonMain/kotlin/love/forte/simbot/quantcat/common/interceptor/impl/StandardAnnotationEventInterceptorFactory.kt
Labels: for-release
