Repository simple-robot/simpler-robot, pull requests merged in 2025-02, with the labels that each got.

#1015 refactor(resource): add subclass opt-in annotation for Resource interfaces
  simbot-api/api/simbot-api.api
  simbot-api/build.gradle.kts
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/Resource.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/ResourceImplementation.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/ResourceResolver.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/resource/SourceResource.kt
  simbot-api/src/jvmMain/kotlin/love/forte/simbot/resource/Resource.jvm.kt
Labels: 优化

#1019 增加若干内部事件、内部行为事件和相关的消息拦截事件
  README.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING_CN.md
  simbot-api/api/simbot-api.api
  simbot-api/src/commonMain/kotlin/love/forte/simbot/ability/ReplySupport.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/ability/SendSupport.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/BotStageEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/InteractionMessage.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/InternalEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/InternalMessageInteractionEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/ReplySupportInteractionEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/SendSupportInteractionEvent.kt
  simbot-api/src/jvmTest/kotlin/event/InternalInteractionEventTests.kt
Labels: 特性

#1020 Update README.md
  README.md
Labels: 文档, ignore-in-release

#1021 增加 subclass opt-in 注解 `FuzzyEventTypeImplementation` 用于事件的实现相关的提示
  simbot-api/api/simbot-api.api
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/ActorEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/BotStageEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/Event.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/FuzzyEventTypeImplementation.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/InternalEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/InternalMessageInteractionEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/MemberChangeEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/MessageEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/OrganizationChangeEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/ReplySupportInteractionEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/RequestEvent.kt
  simbot-api/src/commonMain/kotlin/love/forte/simbot/event/SendSupportInteractionEvent.kt
Labels: 特性
